body {
	background-color: #F5F8FA;
	font-family: 'Open Sans', sans-serif;
}

.main-title {
	text-align: center;
	margin: 0px;
	margin-bottom: 40px;
	line-height: 100px;
	background-color: #00bf99;
	font-weight: 300;
	color: white;
}	

.money {
	color: #00bf99;
	font-size: 80px;
	font-weight: 300;
	text-align: center;
	margin-top: 20px;
}

.dollar {
	font-size: 54px;
	display: inline-block;
	margin-right: -20px;
	color: rgba(0,191,153,0.4);
}

.amount {
	font-weight: 400;
	display: inline-block;
}

.content-title {
	font-weight: 300;
	font-size: 44px;
	background-color: white;
	padding: 0px 10px;
	padding-left: 30px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top: 3px solid #00bf99;	
	text-align: center;
}

.input-label {
	font-size: 24px;
	font-weight: 300;
}

#input-form input[type="text"] {
	border-width: 2px;
	border-radius: 5px;
	height: 58px;
	font-size: 20px;
	margin-bottom: 20px;
}

#input-form input[type="text"]:focus{
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: rgb(107, 211, 255);
}

#input-container {
	background-color: white;
	padding: 20px 20px;
	border-top: 6px solid #00bf99;
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	/*box-shadow: 0 2px 2px rgba(50,50,50,0.5);*/
}


.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    margin: 0 auto;
    padding: 10px;
 
    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 2px solid rgba(0,0,0,0.15);
    /*box-shadow: 0 1px 1px rgba(50,50,50,0.1);*/
    cursor: pointer;
    outline: none;
 
    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown-3.active {
	border-color: rgb(107, 211, 255);
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 98%;
    left: -1px;
    right: 0;
    padding: 0;
    width: 101%;
 
    /* Styles */
    background: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border: 2px solid rgb(107, 211, 255);
    /*box-shadow: 0 0 5px rgba(0,0,0,0.1);*/
    font-weight: normal;
    transition: all 0.1s ease-in;
    list-style: none;
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
 
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    /*box-shadow: inset 0 1px 0 rgba(255,255,255,1);*/
    /*transition: all 0.01s ease-out;*/
}
 
.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}
 
.wrapper-dropdown-3 .dropdown li:first-of-type a {
    /*border-radius: 7px 7px 0 0;*/
}
 
.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}
 
/* Hover state */
 
.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}
 
.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}